.app-wrapper {
    display: grid;
    margin: 0;
    width: auto;
    grid-template-areas: "n c";
    /*grid-template-rows:60px 1fr;*/
    grid-template-columns: 1.52fr 10fr;
}

.sidebar {
    grid-area: n;
}

.content {
    grid-area: c;
}

* {
  font-family: 'Poppins', sans-serif;
}